
<h1>Lista de Subjects</h1>


<ul class ="subjects">
  <button (click)="getSubjects()">Mostrar subjects</button>
<li *ngFor="let subject of subjects" > <!---- te da objeto heroes de lista heroes-->
    id:{{subject._id}} name: {{subject.name}}   students : {{subject.students}}
  </li>
  
</ul>
<h1>Add Subject</h1>
<form name ="addsubject" (ngSubmit)= "addsubj(subjectname)">
<p>
  <label>Nombre:
  <input type="text" name="subjectname" placeholder="Nombre" [(ngModel)]="subjectname">  
  </label>
</p>
<p>
  <button type ="submit">login</button>
</p>
</form>
<h1>Add Student to subject</h1>
<form name ="addtosubject" (ngSubmit)= "addtosubj(studentname,subjectname2)">
  <p>
    <label>estudiante:
    <input type="text" name="studentname" placeholder="estudiante" [(ngModel)]="studentname">  
    </label>
  </p>
  <p>
    <label>Asignatura:
    <input type="text" name="subjectname2" placeholder="asignatura" [(ngModel)]="subjectname2">  
    </label>
  </p>
  <p>
    <button type ="submit">login</button>
  </p>
  </form>