<h1>Student Info</h1>
<ul class ="students">
    <button (click)="getStudents()">Mostrar subjects</button>
  <li *ngFor="let student of students" > <!---- te da objeto heroes de lista heroes-->
      id:{{student._id}} name: {{student.name}}   
    </li>
    
  </ul>
<h1>Add Student</h1>
<form name ="addstudent" (ngSubmit)= "addstud(studentname)">
<p>
  <label>Nombre:
  <input type="text" name="studentname" placeholder="Nombre" [(ngModel)]="studentname">  
  </label>
  <label>Direccion:
    <input type="text" name="studentaddress" placeholder="Direccion" [(ngModel)]="studentaddress">  
    </label>
</p>
<p>
  <button type ="submit">login</button>
</p>


</form>